/.idea
testing.jl
.DS_Store
/Figs
TODO.md
*.pdf
*.log
*.aux
*.gz
/paper
*.swp
/Fig1
/Fig2
/Fig3
/Fig4
/Fig5
/Fig6
/Fig7
ComEn-Arrows.jl
ComEn-TimeAvg.jl
ComEn-ParametersAnalytical.jl
data.csv
/THE-FIGURES
/fishtanks-orig
/time-series-orig
/time-averages-orig
/comp-stat-orig
ComEn-Plots.jl
ComEn-Simulations.jl
/demo