/.idea
testing.jl
.DS_Store
/Figs
TODO.md
*.pdf
*.log
*.aux
*.gz
/paper
*.swp
/Fig1
/Fig2
/Fig3
/Fig4
/Fig5
/Fig6
/Fig7
ComEn-Arrows.jl
ComEn-TimeAvg.jl
ComEn-ParametersAnalytical.jl
data.csv
/THE-FIGURES
/fishtanks-orig
/time-series-orig
/time-averages-orig
/comp-stat-orig
ComEn-Plots.jl
ComEn-Simulations.jl
/demo
/time-series
/time-series-and-averages
/comp-stat
/fishtanks
/ORIGINAL DATA
/SuppFig1
/SuppFig2
/SuppFig3
/trial
/comp-stat-new
/comp-stat-new-everything
/comp-stat-trial
/final
/paper-figures/paper-fishtank-plots.jl
/paper-figures/old-files
/paper-figures/THE-FIGURES_old
/paper-figures/comp-stat/comp-stat-plots
/paper-figures/time-series-and-averages/time-averages-plots
/paper-figures/time-series-and-averages/time-series-plots
/paper-figures/PNAS
time-averages-plots.jl
time-series-plots.jl
ComEn-Parameters.jl
time-series-data-generation.jl